<article class="timeline">
    <h3>
      Pending friendship request
    </h3>
    <ul class="f-requests">
      <% @friendships.each do |f| %>
      <li>
        <%= form_with(url: 'friendships/'+f.id.to_s, method: 'PATCH', local: true) do |form| %>
          <%= form.hidden_field :creator_id, class: 'form-control', value: f.creator_id %>
          <p><%= f.creator_id %></p>
          <%= form.submit 'Accept', class: 'btn btn-warning btn-block', data: { disable_with: "Accepted"}%>
        <% end %>
        <%= form_with(url: 'friendships/'+f.id.to_s, method: 'DELETE', local: true) do |form| %>
          <%= form.hidden_field :creator_id, class: 'form-control', value: f.creator_id %>
          <p><%= f.creator_id %></p>
          <%= form.submit 'Reject', class: 'btn btn-warning btn-block', data: { disable_with: "Reject"}%>
        <% end %>
      </li>
      <% end %>
    </ul>
    
  </article>
